/* src/styles/global.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/*Toggle para temas claro y oscuro*/
:root {
  --background-color: rgb(255, 255, 255); /* Background color for light theme */
  --text-color: rgb(33, 33, 33); /* Dark text color for better contrast on light background */
  --gradient-light: radial-gradient(ellipse 80% 80% at 50% -20%, rgba(217, 216, 255, 0.5), rgba(255, 255, 255, 0.9));
  --gradient-dark: radial-gradient(ellipse 80% 80% at 50% -20%, rgba(120, 119, 198, 0.3), rgba(255, 255, 255, 0));
}


.dark {
  --background-color: #0f0f1f; /* Background color for dark theme */
  --text-color: rgb(255, 255, 255); /* Light text color for better contrast on dark background */
  --gradient-light: radial-gradient(ellipse 80% 80% at 50% -20%, rgba(217, 216, 255, 0.5), rgba(255, 255, 255, 0.9));
  --gradient-dark: radial-gradient(ellipse 80% 80% at 50% -20%, rgba(120, 119, 198, 0.3), rgba(255, 255, 255, 0));
}

/* Para el cuerpo */
body {
  background-color: var(--background-color);
  background-image: var(--gradient-light);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.dark body {
  background-color: var(--background-color);
  background-image: var(--gradient-dark);
  color: var(--text-color);
}



/*Boton WhatsApp*/
.btn-whatsapp {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-decoration: none;
  box-shadow: -1px 2px 6px rgb(0, 0, 0);
  transition: background-color 0.3s, transform 0.3s;
  position: fixed;
  bottom: 30px; 
  right: 20px; 
  z-index: 1
}

.btn-whatsapp:hover {
  background-color: rgba(3, 156, 72, 0.781);
  transform: scale(1.2);
}

