---
import Wp from "../components/icons/react/WhatsAppButtom.jsx";
import Layout from "../layouts/Layout.astro";
import TramitesyServicios from "../components/services/TramitesyServicios.astro";
import Traduccion from "../components/services/Traduccion.astro";
import Apostilla from "../components/services/Apostilla.astro";
import QuienesSomos from "../components/services/QuienesSomos.astro";
import Formulario from "../components/services/Formulario.astro";
import HeroAP from "../components/Hero.astro";
import Contacto from "../components/Contacto.astro";
---

<Layout
  title="Apostilla Colombia Traducciones Oficiales"
  description="Expertos en legalización, apostilla de documentos, homologación de títulos y traducciones oficiales. Más de 18 años gestionando trámites en Colombia y el mundo."
>
  <HeroAP />
  <Apostilla />
  <Traduccion />
  <TramitesyServicios />
  <Contacto />
  <QuienesSomos />
  <Formulario />

  <a
    href="https://wa.me/573213254326?text=¡Hola!%20Quisiera%20más%20información."
    class="btn-whatsapp"
    target="_blank"
    rel="noopener noreferrer"
    id="wp-button"
  >
    <Wp />
  </a>

  <!-- Script para registrar conversión -->
  <script is:inline>
    // Definir gtag como global si no existe
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag("js", new Date());
    gtag("config", "AW-303344726");

    document.addEventListener("DOMContentLoaded", () => {
      const wpButton = document.getElementById("wp-button");
      if (wpButton) {
        wpButton.addEventListener("click", () => {
          if (typeof gtag !== "undefined") {
            gtag("event", "conversion", {
              send_to: "AW-303344726/9D4pCM_R44EYENbY0pAB",
            });
          }
        });
      }
    });
  </script> -->
</Layout>
