  <div class="flex-grow">
    <!-- empuja el footer hacia abajo -->
  </div>

  <!-- Footer -->
<footer class="bg-zinc-900 text-white pt-12 px-6 lg:px-0">
  <div class="max-w-6xl mx-auto grid grid-cols-1 md:grid-cols-3 gap-10 border-b border-zinc-300 dark:border-zinc-700 pb-8">

    <!-- Información de la empresa -->
    <div>
      <h2 class="text-lg font-semibold mb-4">Apostilla Colombia Traducciones Oficiales</h2>
      <!-- Mapa de ubicación -->
<div class="mt-2 max-w-6xl mx-auto">
  <div class="aspect-w-16 aspect-h-9 rounded-xl overflow-hidden border border-zinc-300 dark:border-zinc-700 shadow-lg mx-6 md:mx-0">
    <iframe
      title="Ubicación Apostilla Colombia Traducciones Oficiales"
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3976.801306700781!2d-74.2311556852369!3d4.705733396574047!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f85cc777e0b4f%3A0x9d5428c260bb1dd4!2sCra.%2010%20%2312-32%2C%20Mosquera%2C%20Cundinamarca%2C%20Colombia!5e0!3m2!1ses!2sco!4v1716575956541!5m2!1ses!2sco"
      width="100%"
      height="80%"
      style="border:0;"
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    ></iframe>
  </div>
</div>

      <p class="text-sm leading-relaxed mt-2">
        18 de experiencia gestionando tramites nacionales e internacionales. <br />
        Empresa legalmente constituida ante la Cámara de Comercio de Bogotá.<br />
        Matrícula Mercantil No. 2133438.<br />
        Verificable en el RUES: <a href="https://www.rues.org.co" class="text-blue-600 hover:underline">www.rues.org.co</a>
      </p>
    </div>

    <!-- Información de contacto -->
    <div>
      <h2 class="text-lg font-semibold mb-4">Contacto</h2>
      <ul class="text-sm space-y-2">
        <li><strong>Dirección:</strong> Carrera 10 No. 12-32, Mosquera, Cundinamarca (Correspondencia)</li>
        <li><strong>Código Postal:</strong> 111321, Colombia</li>
        <li><strong>Teléfonos:</strong> <a href="tel:+573213254326" class="hover:underline">321 325 4326</a>, <a href="tel:+573125082845" class="hover:underline">312 508 2845</a></li>
        <li><strong>Correo:</strong> <a href="mailto:contacto@apostillacolombia.com.co" class="hover:underline">contacto@apostillacolombia.com.co</a></li>
        <li><strong>Chat de atención:</strong> L-V 7:00 a.m. - 7:00 p.m.</li>
      </ul>
    </div>

    <!-- Enlaces útiles -->
    <div>
      <h2 class="text-lg font-semibold mb-4">Enlaces útiles</h2>
      <ul class="text-sm space-y-2">
        <li><a href="/#quienes_somos" class="hover:underline">Quiénes	somos</a></li>
        <li><a href="/politica-de-privacidad" class="hover:underline">Política de privacidad</a></li>
        <li><a href="/condiciones-de-uso" class="hover:underline">Condiciones de uso</a></li>
        <li><a href="/webSite-map" class="hover:underline">Mapa del sitio</a></li>
        <li><a href="https://apostillacolombia.com.co/v1" class="hover:underline">Versión anterior <span class="font-semibold text-blue-600 dark:text-blue-400"
          >(ver)</span></a></li>
      </ul>
    </div>
  </div>

  <!-- Pie final -->
  <div class="mt-6 max-w-6xl mx-auto flex flex-col md:flex-row items-center justify-between py-4 text-sm text-zinc-600 ">
    <span>© <span id="current-year">{new Date().getFullYear()}</span> Apostilla Colombia Traducciones Oficiales. Todos los derechos reservados.</span>
  </div>
</footer>
